.header {
    background-color: var(--yellow);
    box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);

    width: 100%;
    height: 100px;

    /*Header em cima do content, para gerar a sombra*/
    position: relative;
    z-index: 10;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    width: 157px;
    height: 63px;
    margin: 14px;
    margin-left: 157px;
}

.nav {
    display: flex;
}

.button {
    background: none;
    border: none;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;

    color: #212121;
}

.isHidden {
    visibility: hidden;
}

.notHidenn {
    visibility: visible;
}

/* Gera o sublinhado mas sem aredondar
button:hover {
    text-decoration: underline;
    text-underline-offset: 16px;
    text-decoration-thickness: 3px;
}*/

/*BREAKPOINTS*/
/* Telas de 375 até 450px = CELULARES Menores*/
@media (min-width: 375px) and (max-width: 450px) {
    #page-wrap {
        padding-bottom: 10px;
        padding-top: 10px;
      }

    .section {
        justify-content: flex-end;
    }

    .header {
        height: 55px;
        
    }
    .nav {
        visibility: hidden;
        gap: 0px;
    }

    .nav>button{
        margin: 0px;
        font-size: 2px;
        line-height: 2px;
    }

    .img {
        height: 22px;
        width: 58px;

        margin: 0px;
        margin-left: 26px;
        margin-top: 22px;
        margin-bottom: 11px;
        margin-right: -40px;
    }

    .notHidenn {
        order: 3;
        margin-right: 12px;
    }

}

/* Telas de 450px até 768px = CELULAR*/
@media (min-width: 450px) and (max-width: 768px) {

    .header {
        height: 55px;
        
    }
    .nav {
        visibility: hidden;
        gap: 0px;
    }

    .img {
        height: 22px;
        width: 58px;

        margin: 0px;
        margin-left: 26px;
        margin-top: 22px;
        margin-bottom: 11px;
    }

    .notHidenn {
        order: 3;
        margin-right: 12px;
    }

}

/* Telas de 768px até 1080 = TABLETS*/
@media (min-width: 768px) and (max-width: 1080px) {

    .img {
        margin: 14px;
        margin: 20px;
    }

    .button {
        font-size: 19px;
        line-height: 22px;
        padding: 24px;
    }
}

/* Telas de 1080px até 1250px = NOTEBOOKS*/
@media (min-width: 1081px) and (max-width: 1250px) {

    .nav {
        gap: 50px;
        margin-right: 157px;
    }

    .button {
        font-size: 25px;
        line-height: 29px;
    }

    .button:hover:after {
        content: "";
        float: left;
        background: #212121;
        width: 100%;
        height: 3px;
        border-radius: 3px;

        position: relative;
        top: 16px;
    }
}

/*tela de 1250px ou maior = MONITORES MAIORES*/
@media (min-width: 1250px) {

    .img {
        width: 157px;
        height: 63px;
        margin: 14px;
        margin-left: 157px;
    }

    .nav {
        gap: 66px;
        margin-right: 157px;
    }

    .button {
        font-size: 25px;
        line-height: 29px;

    }

    .button:hover:after {
        content: "";
        float: left;
        background: #212121;
        width: 100%;
        height: 3px;
        border-radius: 3px;

        position: relative;
        top: 16px;
    }

}